body {
  font-family: 'Michroma', sans-serif;
  background-color: aquamarine;
  margin: 0;
}

header {
  background-color: #444;
  color: white;
  padding: 10px;

}

header h1 {
  display: none;
  margin: 0px;
  font-family: 'michroma';
  font-weight: bolder;
  
}

.container {
  display: flex;
  flex: 1;
  float: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  padding: 50px;
  margin-top: 0%;
  
}

.container select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
 background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
  color: #fff;
  cursor: pointer;
}

.container select:focus {
  outline: none;
}

.container option {
  background-color: #000;
  color: #fff;
  padding: 12px 20px;
}

.container option:hover {
  background-color: #222;
}

.container label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:hsl(263.575, 97%, 62%);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: hsl(200.156, 87%, 52%);
}

.output {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

.image-container {
  flex: 1;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  margin-right: 30px;
}

.image-container img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .image-container {
    margin-top: 20px;
    justify-content: center;
  }
  
  .image-container img {
    max-width: 100%;
  }
}
h1 {
  text-align: center;
  margin: 0;
  padding: 20px ;
}
#result {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  border-radius: 5px;
  background-color:aqua;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}
